useDynLib(rdcqr, .registration=TRUE)
importFrom(Rcpp, evalCpp) 
importFrom(RcppParallel,RcppParallelLibs)
export("boundary_var",
       "boundary_bias",
       "cqrMMcpp",
       "est_cqr",
       "h_cqr",
       "rdcqr")